@font-face {
  font-family: 'Press Start 2P';
  src: url('/fonts/PressStart2P.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url('/fonts/RobotoMono.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family:'Press Start 2P', Tahoma, Geneva, Verdana, sans-serif;
  --secondaryFontFamily: "Roboto Mono";
  /* content max width, to use on each section component */
  --contentMaxWidth: min(90%, 1120px);

  /* background colors */
  --bg: #0d1117;
  --cardBg: #161b22;

  /* needed for gradient channel */
  /* hex value cannot convert to rgbA so color-mix() is used */
  --bgTransparencyRatio: 95%; 

  /* background pixels*/
  --bgPixelSize: 8px;
  --bgPixelOpacity: .3;

  /* section title attr */
  --sectionTitleFontSize: 1rem;
  
  /* -------------------------------------- */
  /* colors are set on themeStore.svelte.js */
  /* -------------------------------------- */

  /* transition */
  --transitionBase: all .3s ease;
  --transitionColor: color .3s ease;
  --transitionOpacity: opacity .3s ease;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  min-height: 100vh;
  background-color: var(--bg);
  line-height: 1.6;
  overflow-x: hidden;
}

a {
  /* color: var(--cyan); */
  text-decoration: none;
  transition: var(--transitionOpacity);
}

/* a:hover {
  opacity: 0.8;
} */

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
  color: inherit;
}

/* .container {
  max-width: 1400px; 
  margin: 0 auto;
  padding: 0 2rem;
} */

.section {
  padding: 4rem 0;
  max-width: var(--contentMaxWidth);
  margin: 0 auto;

  contain: content;
}

.section-title {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  
  color: var(--text);
}

.title-arrow {
    color: var(--accent1);
}

.font-secondary {
  font-family: var(--secondaryFontFamily);
  color: var(--textMuted);
}