@font-face {
  font-family: 'Press Start 2P';
  src: url('../public/fonts/PressStart2P.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family:'Press Start 2P', Tahoma, Geneva, Verdana, sans-serif;

  /* EXPERIMENTAL COLORS*/

  /* dark theme colors */
  --bg-primary: #0f1419;
  --bg-secondary: #1a1f2e;
  --bg-card: #1e2433;
  
  /* text colors */
  --text-primary: #e6e6e6;
  --text-secondary: #a0a0a0;
  
  /* accent colors */
  --cyan: #00d9ff;
  --purple: #a855f7;
  --pink: #ff0080;
  --green: #00ff00;
  --red: #ff3333;
  
  /* border colors */
  --border-cyan: #00d9ff;
  --border-blue: #1e40af;

}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-mono);
  line-height: 1.6;
  overflow-x: hidden;
}

a {
  color: var(--cyan);
  text-decoration: none;
  transition: opacity 0.3s ease;
}

/* a:hover {
  opacity: 0.8;
} */

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
  color: inherit;
}

/* .container {
  max-width: 1400px; 
  margin: 0 auto;
  padding: 0 2rem;
} */

section {
  padding: 4rem 0;
}